# Binaries
qid-server

# Go build cache
*.o
*.a
*.so
_test
_obj
_cgo_gotypes.go
_cgo_export.c
_cgo_export.h

/ai/
/demo/cli/
/demo/web/
/docs/architecture-v1.0.md
qid
qid-server
qid-migrate-fle
audit-exporter
