apiVersion: v1
kind: Service
metadata:
  name: {{ include "quantaid.fullname" . }}
  labels:
    {{- include "quantaid.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
    - port: 9090
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "quantaid.selectorLabels" . | nindent 4 }}
